<div ng-app="app.events">
    <div ng-controller="EventsController" ng-init="init()">
        <div class="container" ng-cloak>
            <h1>Crear Evento</h1>
            <label class="alert" ng-hide="eventos.length">No tienes eventos! Crea uno ahora:</label>
            <form class="form-inline">
                <label class="label" for="event-title" >Nombre del Evento:</label>
                <input id="event-title" type="text" ng-model="titleEvent" /></br>
                <label class="label"  >Deporte:</label>
                <input list="sport" type="text" ng-model="sportEvent" /></br>
                <select id="sport" ng="loadSports()" ng-repeat="sport in sports">
 
                    <option value="{{sport._id}}">{{sport.name}}</option>

                </select> 
                Fecha:
                <input id="event-date" type="date" ng-model="dateEvent" /></br>
                Hora:
                <input id="event-time" type="time" ng-model="timeEvent" /></br>
                Dirección:
                <input id="event-address" type="text" ng-model="addressEvent" /></br>
                Barrio:
                <input id="event-neighb" type="text" ng-model="neighbEvent" /></br>
                Ciudad:
                <input id="event-city" type="text" ng-model="cityEvent" /></br>
                País:
                <input id="event-country" type="text" ng-model="countryEvent" /></br>
                Descripción:
                <input id="event-descr" type="text" ng-model="descrEvent" /></br>
                Agregar logo:
                <input id="event-logo" type="file" ng-model="logoEvent" /></br>
                Evento publico:
                <input id="event-pub" type="checkbox" ng-model="pubEvent" /></br></br>
                <button id="add-btn" class="btn" ng-click="addEvent(titleEvent, dateEvent, timeEvent, addressEvent, neighbEvent, cityEvent, countryEvent, descrEvent, logoEvent, pubEvent)">Crear Evento</button>
            </form>
            <div>
                <h2>Eventos:</h2>
                <ul id="events" class="unstyled">
                    <li ng-repeat="evento in eventos">
                        <label class="clearfix"><b>{{evento.name}}</b></label>
                        <label>{{evento.location.address}}</label>
                        <label>{{evento.location.neighbourhood}}</label>
                        <label>{{evento.date.date}}</label>
                        <label>{{evento.date.time}}</label>
                        </br>
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</div>
