<div ng-app="app.events">
    <div ng-controller="EventsController" ng-init="init()">
        <div class="container" ng-cloak>
            <h4 ng-hide="eventos.length">No tienes eventos! Crea uno ahora:</h4>
            <form class="col-lg-8 col-md-8">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="titleEvent" id="event-title" placeholder="Nombre del Evento">
                </div>
                <div class="form-group">
                    <input type="date" class="form-control" ng-model="dateEvent" id="event-date" placeholder="Fecha">
                </div>
                <div class="form-group">
                    <input type="time" class="form-control" ng-model="timeEvent" id="event-time" placeholder="Hora">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="addressEvent" id="event-address" placeholder="Dirección">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="neighbEvent" id="event-neighb" placeholder="Zona o Barrio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="cityEvent" id="event-city" placeholder="Ciudad">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="countryEvent" id="event-country" placeholder="País">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" ng-model="descrEvent" id="event-descr" placeholder="Comentarios"></textarea>
                </div>
                <div class="form-group">
                    <input type="file" class="form-control" ng-model="logoEvent" id="event-logo" placeholder="Sube una imágen">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="pubEvent" id="event-pub"> Evento público
                    </label>
                </div>
                <button id="add-btn" class="btn btn-default" ng-click="addEvent(titleEvent, dateEvent, timeEvent, addressEvent, neighbEvent, cityEvent, countryEvent, descrEvent, logoEvent, pubEvent)">Crear Evento</button>

            </form>
        </div>
        <div class="container">
            <div>
                <ul id="events" class="unstyled">
                    <li ng-repeat="evento in eventos">
                        <label class="clearfix"><b>{{evento.name}}</b></label>
                        <label>{{evento.location.address}}</label>
                        <label>{{evento.location.neighbourhood}}</label>
                        <label>{{evento.date.date}}</label>
                        <label>{{evento.date.time}}</label>
                        </br>
                    </li>   
                </ul>
            </div>
        </div>
    </div>
</div>
