<div class="header" ng-controller="LoginController">
  <div class="clearfix">
    <h1 class="pull-left"><a href="/">Move</a></h1>
    <div class="welcome pull-right" ng-show="userLoaded">
      <span ng-show="userLoaded">Bienvenido, @{{currentUser.username}}! <a href ng-click="logout()">Logout</a></span>
      <span ng-show="!userLoaded"><a href ng-click="showLogin(true)">Login</a> o <a href="/register.html">Registrarse</a></span>
    </div>
  </div>     
    <div ng-show="loginVisible" ng-controller="LoginController">
        <div class="container">
            <h1>Login</h1>
            <form>
                <label>Usuario:</label>
                <input type="text" ng-model="username" id="username" />
                <label>Contraseña:</label>
                <input type="password" ng-model="password" id="password"/><br />
                <button class="btn btn-primary" ng-click="submitLogin(username,password)">Login</button>
                <a ng-click="signUp()" class="btn btn-link">Registrarse</a>
            </form>
        </div>
    </div>
</div>