<div ng-app="app.home">
    <div class="container" ng-controller="SearchEventController" ng-init="init()" >
        <h4>Busca un evento:</h4>
        <section class="searchField">
            <form >
                <div class="form-group">
                    <input type="text" class="form-control"  id="nombreBarrioDeporte" ng-model="searchTerm" placeholder="Ingrese el nombre del evento, barrio o deporte relacionado" >
                </div>
                <button ng-click="searchEvent()" class="btn btn-default">Buscar Eventos</button>
            </form>
        </section>
        <div>
            <p class="bg-warning" ng-show="searched">No se encontraron eventos</p>
            <div class="col-md-2 column event-box" ng-repeat="evento in eventos">
                <img src="http://placehold.it/460x250/A8DC63/ffffff&text=EVENTO" class="img-responsive">
                <div class="event-title">{{evento.name}}</div>
                <div class="event-info">{{evento.location.address}}</div>
                <div class="event-info">{{evento.location.neighbourhood}}</div>
                <div class="event-info">{{evento.date.date}}</div>
                <div class="event-info">{{evento.date.time}}</div>
                <div class="event-footer"><div class="pull-right"><a href="#" class="btn btn-default btn-sm" role="button">Participar</a></div><div class="pricetext"><i class="fa fa-male"></i> {{evento.participants.length}}</div></div>
            </div>
        </div>
    </div>   
</div>