<!DOCTYPE html>
<html ng-app="app">
    <head>
        <title>Deployd Todos</title>
        <!--<link rel="stylesheet" href="css/bootstrap.min.css" />-->
    </head>
    <body>
        <div class="container" ng-controller="UserController as userC">
            
            <h1>Usuarios</h1>
            <p ng-show="!userC.usuarios.length">No tienes usuarios! Agrega uno!:</p>
            <ul ng-show="userC.usuarios.length">
                <li ng-repeat="usuario in userC.usuarios">
                    <p>{{usuario.name}}</p>
                    <p>{{usuario.user}}</p>
                    <p>{{usuario.pass}}</p>
                </li>
            </ul>
            <form class="form-inline">
                <input id="todo-title" type="text" />
                <button id="add-btn" class="btn btn-success">Agregar</button>
            </form>
            <p>
                <a href id="remove-completed-btn">Eliminar completados</a>
            </p>
        </div>
        
        <script type="text/javascript" src="/js/lib/jquery.js"></script>
        <script type="text/javascript" src="/dpd.js"></script>
        
        <!-- ANGULAR -->
        <script type="text/javascript" src="/js/lib/angular.min.js"></script>
        <script type="text/javascript" src="/js/users.js"></script>
    </body>
</html>