<!DOCTYPE html>
<div ng-app="app.user">

    <div class="container" ng-controller="GenerateSuggestion" ng-cloak >
        <div>
            <h4>Eventos sugeridos</h4>
            <label class="alert" ng-hide="sugerencias.length">No se encontraron eventos</label>
            <ul id="events" class="unstyled">
                <li ng-repeat="evento in sugerencias">
                    <label class="clearfix"><b>{{evento.name}}</b></label>
                    <label>{{evento.location.address}}</label>
                    <label>{{evento.location.neighbourhood}}</label>
                    <label>{{evento.date.date}}</label>
                    <label>{{evento.date.time}}</label>
                    </br>
                </li>   
            </ul>
        </div>
    </div>
    <div class="container" ng-controller="SuggestUsers" ng-cloak >
        <div ng-show="usuariosSugeridos.length" >
            <h4>Usuarios sugeridos</h4>
                <ul id="usuarios" class="unstyled">
                <li ng-repeat="usuario in usuariosSugeridos">
                    <label class="clearfix"><b>{{usuario.name}}</b></label>
                    <label>{{usuario.neighbourhood}}</label>
                    <label>{{usuario.sports}}</label>
                    </br>
                </li>   
            </ul>
        </div>
    </div>

</div>