body p{
    font-family: 'Open Sans', sans-serif;
}
.lobster{
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Lobster', cursive;
}
.logo-size{
    font-size: 35px;
}
.bg-warning{
    margin-top: 20px;
    padding: 15px;
    color:dimgray;
}
.user-icon{
    margin-top: 4px;
    height: 40px;
    width: 40px;
    border: 1px solid #c6c6c6;
    border-radius: 50px;
    background: url(../img/usr/anonim-user-02.jpg) top left;
    background-size: 40px 40px;
}

