body p{
    font-family: 'Open Sans', sans-serif;
}
.lobster{
    /*font-family: 'Bree Serif', serif;*/
    font-family: 'Lobster', cursive;
}
.logo-size{
    font-size: 35px;
}
.bg-warning{
    margin-top: 20px;
    padding: 15px;
    color:dimgray;
}
.user-icon{
    margin-top: 4px;
    height: 40px;
    width: 40px;
    border: 1px solid #c6c6c6;
    border-radius: 50px;
    background: url(../img/usr/anonim-user-02.jpg) top left;
    background-size: 40px 40px;
}
.event-box {
    background-color:#ffffff;
    padding:5px;
    margin:10px 20px 10px 0;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
    -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999;
    border: solid #c6c6c6 1px;
    border-radius: 5px;
}

.event-title {
    font-weight:bold;
    padding: 5px 0;
    font-size: 16px;
}
.event-info {
}
.event-footer {
    border-top:1px solid #dadada;
    padding-top:5px;
}
.event-footer i{
    margin-top: 7px;
}
